Xft.dpi: 144

!! URXVT
!
!! Colorscheme

! special
*.foreground: #839496
*.background: #002b36
*.cursorColor: #93a1a1

! solarized dark
*.color0:   #073642
*.color8:   #002b36

*.color1:   #dc322f
*.color9:   #cb4b16

*.color2:   #859900
*.color10:  #586e75

*.color3:   #b58900
*.color11:  #657b83

*.color4:   #268bd2
*.color12:  #839496

*.color5:   #d33682
*.color13:  #6c71c4

*.color6:   #2aa198
*.color14:  #93a1a1

*.color7:   #eee8d5
*.color15:  #fdf6e3

URxvt.font:     xft:bitstream vera sans mono:size=10:antialias=true
URxvt.boldFont: xft:bitstream vera sans mono:bold:size=10:antialias=true
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 12
URxvt.cursorBlink: false
URxvt.cursorUnderline: true
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 12
URxvt.iso14755: false
